{% extends "base.html"%} {% load static %} {% block content %}
<div class="row">
  {% for yerbas in yerbas %}
  <div class="col-lg-4">
    <img class="thumbnail" src="{{ yerbas.fotoURL }}" />
    <div class="box-element product">
      <h6><strong>{{ yerbas.name }}</strong></h6>
      <p>{{ yerbas.opis }}</p>
      <!-- Dodaj opis yerby tutaj -->
      <hr />
      <button data-yerba="{{yerba.id}}" data-action="add"class="btn btn-outline-secondary add-btn update-cart">
      Add to Cart
      </button>
      <a class="btn btn-outline-success" href="{% url 'base:future' %}">View</a>
      <h4 style="display: inline-block; float: right">
        <strong>{{ yerbas.price_pu|floatformat:2 }} PLN</strong>
      </h4>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
